[2016-12-19 15:23] redox opened #3 "Missing author's login"
we have:

[code]

and need:

[code]

to link to https://www.npmjs.com/~angularcore

[2016-12-19 15:24] redox opened #4 "Add gravatar URLs"
For the author, lastPublisher & owners; we need their gravatar URL.

See [this doc](https://en.gravatar.com/site/implement/images/) to understand how to generate the links.

[2016-12-19 15:26] redox opened #5 "Update `downloadRatio` to fit in the 0-1.000.000 range"
Something like: `downloadsRatio = int(downloadsRatio * 1000000) / 1000 * 1000` (rounded at the 1000 level)

[2016-12-19 16:33] redox opened #6 "Cannot get downloads for scoped packages"
- https://api.npmjs.org/downloads/point/last-month/@kadira/storybook-ui -> 404
 - https://api.npmjs.org/downloads/point/last-month/%40kadira%2Fstorybook-ui -> fail?

[2016-12-20 00:37] #3 closed, assigned to vvo

[2016-12-20 00:38] #6 closed, assigned to vvo

[2016-12-20 00:41] #4 closed, assigned to vvo

[2016-12-20 12:38] vvo opened #8 "Frontend search changes proposal"
Proposal to change the frontend UI results to something like:

***
[algoliasearch](https://npmjs.com/algoliasearch) [:octocat: algolia/algoliasearch](https://github.com/algolia/algoliasearch) :arrow_down:6K :fire: (if popular)
v2.3.4 📅 1 day ago by [:cityscape: Algolia](https://github.com/algolia) (or [:bust_in_silhouette: vvo](http://npmjs.com/~vvo) when no org)
description
tags (light contrast)

[2016-12-23 11:05] #8 closed

[2016-12-23 11:05] #5 closed

[2017-01-29 18:14] Haroenv opened #17 "encoding issues"
At some point the description is parsed as something else than utf-8.

this will make emoji show up as something other than their actual code.

example of that error happening at [floating.js](https://yarnpkg.com/search?q=floating.%20&p=0&is_v=1)

[2017-01-30 08:24] vvo commented on #17
Indeed inside the data it's already badly encoded, so it's an issue in the current indexer

[2017-02-06 12:39] Haroenv commented on #17
A description that has html escape codes like `&gt;` will also show them escaped once too much (e.g. [emoji-images](https://yarnpkg.com/search/?q=emoji-images&p=0&is_v=1))

[2017-02-06 12:41] vvo commented on #17
I think this is necessary, npm is not doing it but I don't think that's right:

![image](https://cloud.githubusercontent.com/assets/123822/22647468/edf5464e-ec71-11e6-8722-d527040d49b7.png)

(from https://www.npmjs.com/package/emoji-images)

[2017-02-06 12:42] Haroenv commented on #17
Yep saw that npm is quite wrong on that, but wouldn't a better solution be one that showed it as &lt;img&gt;?

[2017-02-06 12:43] vvo commented on #17
That would be nicer yes, we have seen packages with weird content in it that would display it better this way yes, like yarn:

![image](https://cloud.githubusercontent.com/assets/123822/22647525/46679124-ec72-11e6-9b5e-e447de35238a.png)

[2017-02-06 12:44] vvo commented on #17
I don't know if those two things have the same root cause, I would say it's different, one is bad encoding the other is "bad" escaping (dumb one)

[2017-02-06 16:35] Haroenv opened #18 "npm description is often less reliable than GitHub description"
Because the description on npm can basically be full markdown/html, you can do a lot that you can't do in the text field on GitHub.

IMO it might be an idea to check if a GitHub description is available to use before using the one from npm.

Yarn for example has

[code]

But a GitHub description of

This will coincidentally still have the emoji issues described in #17 (but those are internal to th

[2017-02-07 10:24] vvo opened #19 "Download based popular count is not well computed"
Some libraries are popular while they should not.

[code]

Popular ratio is 0.005: https://github.com/algolia/npm-search/blob/da6883f174baf6cf3f668bccf3e579e95d3d82da/config.js#L4

Number of downloads for jQuery in one month: 2575423
Number of downloads on the npm registry: 7009616298

Ratio for jQuery: 2575423/7009616298 ~= 0.0003 < 0.005 but still marked as popular

Two issues:
- bad computation

[2017-02-07 10:33] vvo opened #20 "Automatically restart replication every week"
To get a downloads data that is always up to date, we need to restart the replication from seq=0 every month.

There should be ways on heroku to do that.

[2017-02-07 10:36] vvo commented on #18
As for this, there's no easy way to solve it but incentive package owners to provide good descriptions (like doing a PR on the yarn package manager).

[2017-02-07 10:45] #18 closed

[2017-02-07 14:50] Haroenv commented on #20
interesting, scheduler.heroku.com doesn't allow intervals of under a day, which is kind of weird. Maybe the feature is hidden.

![screen shot 2017-02-07 at 15 49 07](https://cloud.githubusercontent.com/assets/6270048/22696087/27a85620-ed4d-11e6-8f4d-97236bf2a0c6.png)

[2017-02-08 22:33] Haroenv commented on #19
Interestingly `jquery` is showing as popular with 2.6M downloads in the last month, while `jQuery` shows as having 0 downloads. On the npm site they show as having the same number of downloads interestingly.

* https://www.npmjs.com/package/jQuery
* https://www.npmjs.com/package/jquery

[2017-02-09 13:23] vvo commented on #19
Both packages are different sadly which means npm is not doing "the right thing" here.

https://github.com/npm/registry/issues/38

[2017-02-09 13:54] Haroenv commented on #19
I think it actually *is* correct, because the ratio is actually multiplied by 100

[code]

`downloadsRatio` is the same as `(downloadsLast30Days / totalNpmDownloads) * 100`.

Applied to (current) data for jquery, this is correct.

[code]

[2017-02-09 14:05] #19 closed

[2017-03-03 16:47] Haroenv commented on #17
close in favour of internal issue

[2017-03-03 16:47] #17 closed

[2017-03-03 16:48] Haroenv opened #22 "add GitHub branch"
some repositories don't store their package on `master`, which causes the location of the README etc to be wrong.

[2017-03-03 17:16] redox commented on #22
But the README is also part of the metadata the NPM registry has, isn't it?

[2017-03-03 18:13] Haroenv commented on #22
Yes, the README is only one aspect, another is being able to link to the correct branch of a project (think instanstsearch.js (develop) vs react-instantsearch (v2))

[2017-03-06 09:18] Haroenv commented on #22
The shasum (gitHead) in npm will be better

[2017-03-07 09:04] #22 closed

[2017-03-09 14:47] vvo opened #25 "setup prettier"
Would be nice to setup prettier as in the yarn website

[2017-03-15 18:11] #25 closed

[2017-03-28 09:12] Haroenv opened #33 "add alternative name without dashes"
for `create-react-native-app` this should be `createreactnativeapp`. This is because it's often easier to just write it without dashes.

To remove is:

* `.`
* `-`
* `_`
* `@`
* `/`

The alternative name should have a lower relevancy score than the real name to avoid `react-native` to score above `reactnative` when you search for `reactnative`.

This should also be done for the keywords, but in th

[2017-03-28 12:47] ercolanelli-leo commented on #33
Just to recap the chat we had:

- Add a new attribute, which is the name fully concatenated (without `.-_@/`)
- Put this attribute in `searchableAttributes`, below the original name
- Instead of doing the `optionalFacetFilter` against the name, do it against this new attribute, using a concatenated form of the query

[2017-03-28 15:33] #33 closed

[2017-04-16 16:44] Haroenv opened #36 "Replicating crashes because of change in npm API"
When loading the downloads when there’s a package with scope (@scope/pkg) in the arguments, now a HTTP 400 is returned

for example: `http://api.npmjs.org/downloads/point/last-month/,@lab009/babel-preset-magma,@lab009/eslint-config-magma,@lab009/magma-utils,ringpop,@lab009/magma-config,node-sftp-s3,@lab009/magma-server,nativescript-wkwebview,koo,react-native-div,mdeb,is-in-view,ut-codec,kb-path,ts

[2017-04-16 16:48] #36 closed

[2017-04-18 16:14] rayrutjes opened #37 "Last commit date discrepancy"
I just pushed a new package to NPM, and here is what I see on the detailed page:

![image](https://cloud.githubusercontent.com/assets/5570853/25141080/b25a1cd0-2462-11e7-97c9-708082226207.png)

[2017-04-18 16:18] rayrutjes commented on #37
Closing in favor of: https://github.com/algolia/yarnpkg-website/issues/18

[2017-04-18 16:18] #37 closed

[2017-05-10 08:32] #20 closed

[2017-05-10 16:21] vvo commented on #20
Nice!

[2017-05-29 14:23] vvo opened #50 "Does GitHub API V4 have any consequences?"
https://developer.github.com/v4/

Is there any benefit in switching to the new schema? I don't know :)

[2017-05-29 20:11] Haroenv commented on #50
We don't really use the GitHub api because of rare limits. Did that get changed?

[2017-05-29 20:29] vvo commented on #50
Yep was lost here :)

[2017-05-29 20:29] #50 closed

[2017-05-29 20:31] Haroenv commented on #50
Could have impact frontend though, I tried to get the stargazers + commit_activity + some other basic details, but commit_activity isn’t given back AFAIK

[2017-08-04 05:41] Haroenv opened #51 "Completely reindex weekly"
packages like [eslint-config-algolia-cdn](https://yarnpkg.com/en/package/eslint-config-algolia-cdn) are actually spam, and removed by `npm` a while ago, so we shouldn't list them either.

Maybe we should periodically make a second index, fill it from scratch, and then `moveIndex` to replace the main one?

[2017-08-04 05:43] Haroenv commented on #51
Maybe it's also possible to check the `unpublished` flag on packages and avoid these, but then they're still not removed. We could send a `deleteObject` for those maybe?

[registry](https://registry.npmjs.com/eslint-config-algolia-cdn)

[2017-08-04 06:50] Haroenv commented on #6
By the way, since May approximately, it's possible to get downloads for single packages, but not multiple. So either we leave it like it's now (skip scoped packages), either we get the downloads of scoped packages one by one, increasing our requests.

* https://api.npmjs.org/downloads/point/last-month/@kadira/storybook-ui <-- works
* https://api.npmjs.org/downloads/point/last-month/@kadira/storybo

[2017-08-16 12:15] rally25rs commented on #51
I'm not sure what the infrastructure is behind the scenes, but is it possible that if someone hits the "registry.yarnpkg.org" site and we get back a "deleted" response from NPM, we also remove that entry from the Algolia index?

[2017-08-16 12:33] Haroenv commented on #51
Interesting idea, but I fear that might be making it too complicated. I think that by doing something in one of these lines:

https://github.com/algolia/npm-search/blob/8dd2cdac2e03cc0e4e9b6cc700cdd1519116a894/saveDocs.js#L8-L11

that calls `algoliaIndex.deleteObjects` for the ones that need to be deleted might work. To be sure how that works we’d need to see how the deleted objects are represente

[2017-08-25 16:40] Haroenv commented on #51
Just got an update from npm, deleted packages should still be in `allDocs`, so we should take that from there

https://github.com/npm/registry/issues/203#issuecomment-324959811

[2017-08-27 03:26] Haroenv opened #55 "Add a flag for spammy packages"
Packages that are low quality but not technically spam should be harder to find unless typed exactly. Things I was thinking of are:

Npmdoc-package
Npmtest-package
Package-cdn (was actually spam and removed)

See #52 for a first stab at solving this

[2017-08-28 08:59] vvo opened #57 "Handle deleted packages"
I never implemented the delete change event. I think there's a _deleted flag somewhere in the feed but it's not very well documented and I am not sure npm follows this.

[2017-08-28 09:03] vvo opened #58 "Upgrade all deps and activate renovate"
Current state of dependencies for this project is not good, a lot of outdated ones. We better follow upgraded deps to avoid being stuck at some point.

[2017-08-28 09:04] vvo opened #59 "Add nvmrc and enforce specific nodejs version"
This is to avoid newer nodejs versions being used without us knowing it.

[2017-08-28 09:48] vvo opened #60 "report errors to slack"
otherwise we never read them

[2017-08-28 13:26] vvo commented on #6
Since scoped packages are not that frequent we could do some optimisation where when we have 200 packages we sort them by scoped/non scoped. For each scoped we do 1 req, for other we do bulk.

We are already doing single requests for dependedUpon so that should be fine.

[2017-08-28 13:27] vvo opened #61 "Add back scoped packages downloads"

[2017-08-28 14:07] vvo opened #62 "GitHub stargazers false"
![image](https://user-images.githubusercontent.com/123822/29777067-06e80450-8c0b-11e7-85b2-3151e397f402.png)

[2017-08-28 14:08] vvo commented on #62
https://yarnpkg.com/en/package/react-condition

[2017-09-04 10:00] Haroenv commented on #62
This should be moved to the detail page, stargazers are fetched frontend, not in the Algolia index. It's `false` because the github repo doesn't exist.

closing in favour of https://github.com/yarnpkg/website/issues/621

[2017-09-04 10:00] #62 closed

[2017-09-04 11:46] Haroenv commented on #57
related: #51

[2017-09-04 11:50] Haroenv opened #63 "dependents is broken"
Every record seems to have `1437319` as value 🤔

[code]

some seem to work though, `react-condition`, `react-conditional` both appear to have 1.4m in its Algolia value.

[2017-09-06 11:57] Haroenv opened #64 "githubRepo.head and gitHead seem to always be "master""
Some change happened (probably in #53 or following changes) that made the git head to always fall back to master

[2017-09-06 12:40] Haroenv commented on #64
While fixing this; `gitHead` can be removed, since it's merged on the website https://github.com/yarnpkg/website/pull/627

[2017-09-07 09:26] Haroenv commented on #60
Done with papertrail, see #notif-yarn in Algolia slack

[2017-09-07 09:26] #60 closed

[2017-09-07 12:58] Haroenv commented on #61
We could get all the scoped packages when iterating, and then after we downloaded the other ones in batches, get the scoped downloads

[2017-09-07 13:14] vvo commented on #61
Sorry thought I had alreayd provided a solution. The fix to this is when we have 200 packages (mix of scoped and not scoped), we should sort them this way:

[code]

Then in the download code, make single requests (but in parallel) and multiple requests for unscoped.

Good?

[2017-09-07 13:18] Haroenv commented on #61
Second option seems cleaner IMO

[2017-09-07 13:20] vvo commented on #61
Ok, what I want to avoid is slowing down the indexing, since it's totally OK to do lot of requests in parallel

[2017-09-13 19:35] #64 closed

[2017-11-08 07:46] Haroenv opened #67 "some READMEs are the localised (README.cn.md) version instead of the normal one."
reported in https://github.com/yarnpkg/website/issues/711

The README that we have here is in fact the Chinese one: https://ofcncog2cu-dsn.algolia.net/1/indexes/npm-search/postcss?x-algolia-agent=Algolia%20for%20vanilla%20JavaScript%20(lite)%203.24.5&x-algolia-application-id=OFCNCOG2CU&x-algolia-api-key=f54e21fa3a2a0160595bb058179bfb1e

The readme in npm is also the Chinese one: http://registry.np

[2017-11-08 09:17] vvo opened #68 "Custom ranking must be based on bucketed downloads"

[2017-11-08 09:23] vvo opened #69 "exact package name is not always first result"
Example: https://yarnpkg.com/en/packages?q=react-native&p=1

![image](https://user-images.githubusercontent.com/123822/32541099-eb249e6c-c46e-11e7-8e92-3c87b181ced8.png)

[2017-11-08 09:25] vvo opened #70 ""react native" does not match react-native first"
https://yarnpkg.com/en/packages?q=react%20native&p=1

![image](https://user-images.githubusercontent.com/123822/32541161-19fd3910-c46f-11e7-8e6c-df4b170bb355.png)

[2017-11-08 09:31] vvo opened #71 "Better indicate how results are ranked"
To better fit a package search, we could display results like that:

- Best match/Best result ("reactnative" query => react-native package)
- Exact match ("reactnative" query => reactnative package) IF ANY
- other results with the two previous packages removed

[2017-11-11 16:15] iarna commented on #67
The npm website pulls version specific readmes from the the tarballs. The readme in the registry is only updated when someone publishes to the `latest` tag. If folks are publishing to another tag (like, say, `next`, the way npm does) and then using `npm dist-tag` to mark it as latest later then the registry readme will never be updated again.

As such, you really have to look in the tarball for th

[2017-11-11 16:24] redox commented on #67
That's good to know, thanks for chiming in @iarna !

[2017-11-11 19:55] ai commented on #67
Hi. I am maintainer of this package. Latest tag contains two README. With `.md` and `.cn.md` ext. Are you sure that it is not file extension detection problem?

[2017-11-15 16:01] mitchellsimoens opened #72 "Package Security Check"
I think it'd be quite helpful to check the package and it's dependencies for security issues like [nsp](https://nodesecurity.io/) and display it in the package details page and may even be a great idea to put in the search result list.

[2017-11-15 17:27] Haroenv commented on #72
That's a great idea, it could be added as another source here, by batching the calls if possible, it would be similar to how the downloads are fetched. Do you want to work on this @mitchellsimoens?

[2017-11-23 19:11] rdela commented on #72
@mitchellsimoens @Haroenv I really like this idea.
Anything that helps people only install secure packages is a big win to me. Plus I need to get a feel for the code and what is possible with query rules anyway. Happy to give it a try if one of you willing to supervise me and review. What do I need to do to get setup with the right kind of token to test changes locally?

Maybe someone from @nodese

[2017-11-23 19:17] MartinKolarik commented on #72
👍 we previously considered showing an "insecure" badge in the search results at https://www.jsdelivr.com and having this information available directly in the index would definitely make it easier.

[2017-11-24 06:48] Haroenv commented on #72
You can request the data from 200 packages at the same time, I have a small demo I can push where other people can help

[2017-11-24 22:08] rdela commented on #72
@Haroenv if you already started something I would love to help on that branch, maybe you can split up work and assign me little tasks I can attempt to address in single commits?

[2017-11-25 01:49] Haroenv commented on #72
https://github.com/algolia/npm-search/tree/feat/nsp, but it's pretty late here and there's some bug that needs fixing where the `security` key doesn't show up in the relevant packages

[2017-11-26 21:35] Haroenv commented on #72
You need an Algolia app with api key and index. If you tell me which appid  I can give you more records and operations so you don’t need to pay  @rdela

[2017-11-27 00:26] rdela commented on #72
Nice. Signed in with GH earlier and went through onboarding, it was stellar and docs look like they are same caliber.

My first round of questions:

Ok to use this appid made during tour? If so, ok to post that here in issue or should I email/DM it to you somewhere?

Tried to create new app and got…

I guess the default appId (_`OFCNCOG2CU`_) [listed in the readme](https://github.com/algolia/npm-s

[2017-11-27 08:14] Haroenv commented on #72
Yes that should be good. The appId is not exactly secret so you can send it here if you need more usage

oh yeah that's right, I think if you pick a (free) plan you can create new apps, just not in trial.

Yes, that's the appid used in production

yep, both are equivalent for this usage.

you can put the index name in config.js (where it has a default of `npm-search`)

it will create or append to

[2017-11-27 08:23] Haroenv opened #78 "add a [cdns] key in every package"
its goal is to order by preference of the module author. if it mentions unpkg first or jsdelivr first they'll want that to show up first in the detail page.

1: have the default ordering [jsdelivr, unpkg, bundleRun]
2: order those based on order of occurrence in readme
3: if the readme contains another can (we whitelisted but can't automatically match to npm packages, like cdnjs) it should be adde

[2017-11-27 08:44] Haroenv opened #79 "Have a deploy preview index"
Index part of the data, stop at some point (100k records should be enough to have a few interesting packages). Show a version of the website at that point.

Requires us to have a second heroku worker, since this will take too long to do on Travis. _maybe_ it might be doable with Circle since it's faster, but I'm not sure

[2017-11-27 09:51] rdela commented on #72
Cool, appid:
ERNLE6UZ7H

Trial seems pretty generous and I am only testing this for now. If you want to wait to uncap til I hit limits or trial expires in 13 days, fine by me, can mention you here then and include key again.

Any reason to get rid of `getstarted_actors` demo index before I start testing? Won’t bother testing `npm-search` index somehow will it?

Like the Actors example and way it d

[2017-11-27 10:06] Haroenv commented on #72
I think I did something wrong when mapping in the weekend, the data wasn't present in the index, I haven't taken a look at what the cause was yet. It'll be fixed if the records have a `securityRecommendation` or whatever it's renamed to in the index.

You can remove or keep the getting started index.

Let us know if you want extended records/operations anytime

[2017-11-27 10:50] rdela commented on #72
Great news all around, think I am headed in the right direction, will try to PR in next day or so, thanks Haroen!

[2017-11-27 21:22] vvo commented on #79
What is our goal here?

[2017-11-27 22:52] Haroenv commented on #79
Be sure things work without needing complicated integration tests

[2017-12-01 08:37] rdela commented on #72
@Haroenv thanks for stopping by the Gatsby issue, this is still on my radar and I was not trying to bring this discussion over there, only to ask you about Gatsby plugin index design in progress in case you had ideas from all of your experience implementing and helping others implement search. I am not sure whether we will end up displaying security info in the initial Gatsby index yet even though

[2017-12-01 13:11] Haroenv commented on #72
I or someone else can do it on yarnpkg/website. It should be pretty straightforward to simply display it a little like the deprecated view and some link back to nsp @rdela

[2017-12-01 18:54] rdela commented on #72
Cool thanks @Haroenv will PR this before I mess with Yarn site

[2017-12-04 18:02] #61 closed

[2017-12-04 21:18] rdela commented on #72
@Haroenv looking now, thanks for https://github.com/algolia/npm-search/commit/0a2e39ede60dc355b82c765fa8fc61bca84c872d

[2017-12-04 22:55] rdela commented on #72
@Haroenv Ok so I am even with you now on my fork, first run fails with:
[`AlgoliaSearchError: Record at the position 73 objectID=101 is too big size=23909 bytes. Contact us if you need an extended quota`](https://gist.github.com/rdela/ab40ff141de050d44f85db084955ca78#file-npm-search-feat-nsp-20171204-144227-txt-L5)

Is this a me still being in trial issue?

We are pulling [`securityRecommendation`

[2017-12-04 23:07] rdela commented on #72
@Haroenv [confirmed in explorer](https://gist.github.com/rdela/ab40ff141de050d44f85db084955ca78#gistcomment-2275943)

[2017-12-04 23:18] rdela commented on #72
@Haroenv added both of your emails I saw glancing through commit logs as collaborators on my trial app so you can see firsthand if you like

[2017-12-05 06:21] Haroenv commented on #72
@rdela, yes there will be some records that are too big for a regular index, you can filter those out. Is it the nsp data which is too big? Maybe we should try to find a more data conservative way of writing it 🤔

[2017-12-06 15:00] vvo opened #91 "Add browser size information on yarn results"
Hi @pastelsky, we are looking at adding browser size information to package on the yarn website.

We were thinking to add information from https://bundlephobia.com/result?p=lodash-es@4.17.4. What do you think? We could implement it an asynchronous request on the details page here: https://yarnpkg.com/en/package/yarn

Let us know what you think!

[2017-12-06 15:20] pastelsky commented on #91
Hi @vvo, first of all, that sounds great. However, do note that bundling requests can take very long (>30s) for large uncached packages.
Also I'd be interested in knowing the traffic I should expect to receive if such an arrangement was made.

[2017-12-06 22:37] Haroenv commented on #91
If we are doing it frontend: 10k visits per day on the whole site. Can’t see a way to extract page detail visits in google analytics

[2017-12-07 10:01] vvo commented on #91
@pastelsky It's 1K package views per day nowadays. So it means we would call your API between 1K and 2K times per day.

If that's doable, how can we move forward? Thanks!

[2017-12-12 15:36] pastelsky commented on #91
Sounds good. I'm planning to move to a different hosting solution soon, so 1k requests shouldn't be a major issue. Let me know what's required from my side for this. Do you think it would be helpful if we link the size stats back to the details page on bundlephobia ? Also, it would be great if the requests have a `X` header that can help me identify the source for these requests.

[2017-12-13 11:14] vvo commented on #91
Yes totally doable if your page has more details, and just for the sake of giving back to the source of the data.

Again, totally doable.

Give us an API endpoint that we can call and the associated parameters.

[2017-12-13 13:09] pastelsky commented on #91
The API endpoint would be - `https://bundlephobia.com/api/size?package=<package-name>@<package-version>`.

These work fine -
https://bundlephobia.com/api/size?package=react
https://bundlephobia.com/api/size?package=react@15.3.0

[2017-12-14 15:54] #91 closed

[2017-12-14 16:10] Haroenv commented on #91
Should we do it backend too? I fear the fetching will take too long though, maybe there's some cache we can replicate?

[2017-12-14 16:31] vvo commented on #91
@pastelsky You should add some browser cache like one hour for non specific versions (bundlephobia.com/api/size?package=react) and unlimited cache for specific versions (bundlephobia.com/api/size?package=react@15.3.0)

Doing so you could then have a CDN on top of that, there are some that would maybe be happy sponsoring your service (cloudflare?). So that any request from Yarn on specific versions

[2018-01-16 20:19] Haroenv commented on #59
fixed in c14bf87a1cb424affac603f2ed55a8c9a141f933

[2018-01-16 20:19] #59 closed

[2018-01-17 11:37] #63 closed

[2018-02-12 12:23] vvo opened #123 "synonyms and query rules stored in the code"
Today query rules and synonyms were added to the UI, ultimately it would be better to have them inside the code in a saveSynonym and saveQueryRules calls.

[2018-02-12 12:49] vvo opened #124 "Don't crash replication when npm crashes"
We have one crash per day, let's investigate it

[2018-02-12 13:28] vvo commented on #124
{ [unknown_error: Database encountered an unknown error]
  status: 503,
  name: 'unknown_error',
  message: 'Database encountered an unknown error',
  error: true,
  data: '<html><body><h1>503 Service Unavailable</h1>\nNo server is available to handle this request.\n</body></html>\n\n' }

[2018-02-12 14:58] #57 closed

[2018-02-13 11:46] #123 closed

[2018-03-13 21:16] KyleAMathews opened #159 "How to filter out deprecated packages?"
I already have one `<RefinementList>` for specifying Gatsby's keywords. I tried adding another one to filter deprecated packages `<RefinementList attributeName="deprecated" defaultRefinement={[false]} />`

This caused this error: `Warning: Failed prop type: Invalid prop `defaultRefinement[0]` supplied to "AlgoliaRefinementList(Translatable(RefinementList))"`

I tried putting `false` in quotes but

[2018-03-13 21:19] vvo commented on #159
cc @samouss

[2018-03-14 06:53] Haroenv commented on #159
This is probably because we didn’t set that up for faceting. Let’s add this, it’s a good idea

[2018-03-14 08:38] Haroenv commented on #159
What you should be able to do is this (in React InstantSearch): `<Toggle attributeName="deprecated" defaultRefinement={false} />` after I merge #160

[2018-03-14 10:37] #159 closed

[2018-03-14 10:41] Haroenv commented on #159
It's now set up for faceting, let me know if you have any other problems @KyleAMathews 👍

[2018-03-14 11:07] samouss commented on #159
Thanks @Haroenv!

[2018-03-27 08:37] Haroenv opened #167 "Add filterable library-specific subsets in a future-proof way"
[code]

Now I should still check how we can easily make it facetable, I'm not sure if putting it like this will allow that. An idea I had to solve that was this:

[code]

In this case only the `subset.keys` would be facetable, but it would mean that we can't use the name `keys` for any of the subsets (seems fine for me).

[2018-03-27 09:13] Haroenv commented on #167
To be clear, this is to prevent the status quo of overloading `keywords` with this info.

For example: babel wants to have all packages with a specific type of name, angular wants those with package.json#scaffold, Gatsby wants specific keywords/names.

This will allow the extra information they want, be it a string or an object, to be in line with what the data is used for.

[code]

[2018-03-30 13:43] #167 closed

[2018-04-03 08:39] Haroenv commented on #67
Not sure we can do anything actionable here, issue seems to be resolved since, but it's completely on npm's API side of things :)

[2018-04-03 08:39] #67 closed

[2018-04-13 11:37] Haroenv commented on #58
We did this in #97

[2018-04-13 11:37] #58 closed

[2018-04-13 12:26] #68 closed

[2018-04-24 12:40] manekinekko opened #187 "[FEATURES] add additional information for a package"
Hi guys. I've got requests for some new additions to the `npm-search` index. Let's discuss them here:

- [ ] open issues on gihtub: How many open issues are there.
- [ ] number of gihtub stars: How many people stared this projet.
- [ ] number of gihtub forks: How many people stared this projet.
- [ ] open PR on gihtub: How many open PRs are there.
- [ ] last commit on gihtub: When was the last com

[2018-04-24 12:57] Haroenv commented on #187
It would make sense to also query GitHub for those for which we have the data. In the Yarn website we do this frontend once the detail page has been requested. For requesting GitHub data we'll need to have some API key rotation like npms does: [source](https://github.com/npms-io/npms-analyzer/blob/238a7480e8beb6b57ba27b80593a67b3a3f75b9a/lib/analyze/collect/github.js#L6).

It would also make the r

[2018-04-24 13:25] MartinKolarik commented on #187
One thing that I would also love to add is jsDelivr hits in the last month. Right now the search results are sorted by npm downloads, which is great for nodejs/backend packages, but doesn't work that well for browser/frontend packages, especially those, which recommend CDN as the primary installation option.

It would be nice if we could either combine those numbers somehow, or simply had an optio

[2018-04-24 13:30] Haroenv commented on #187
Is it possible to get the monthly downloads batched, like [this](https://data.jsdelivr.com/v1/stats/packages/month) but with a specified 100/200 packages to look this up from at the same time, so we can look them all up?

[2018-04-24 13:33] MartinKolarik commented on #187
There's ?page, so you can just do ?page=1, ?page=2, ... until you get no results.

[2018-04-24 13:48] Haroenv commented on #187
I won't have time for now to add this, but feel free to contribute or contact me if I can help. It indeed could be possible to augment the index like that, although the flow we currently have is

1. get all packages in batches
2. loop over a batch of packages to get more info or get more info from the whole batch

So we'd need to control which packages would be in the batch (maybe something that c

[2018-04-24 14:05] vvo commented on #187
Those are valid concerns, adding the jsDelivr downloads seems "easy". As for the GitHub api requests that's a bit more tricky because of what @Haroenv said. Then you also have the freshness issue, currently we do not rebuild the full index periodically while if we provide things like number of opened issues, you might want the data to be as fresh as possible.

Still, if you already have ideas on h

[2018-04-24 14:09] MartinKolarik commented on #187
Since the data is rather compact (just package name and one number), I think we could get everything at once and have it stored in memory during the indexing process. Our API currently computes stats for all packages every time (which is why it is that slow), even though it only gives you 100 results at once, so it would make more sense if we removed that limit and you'd be able to get all numbers

[2018-04-24 14:13] Haroenv commented on #187
Seems possible, feel free to do a PR @MartinKolarik :)

[2018-04-24 20:08] manekinekko commented on #187
@vvo @Haroenv as per the opened PRs and issues, I think it makes more sense to do it client side, indeed. I'll figure out a way to do it on https://ngx.tools.

When it comes to augmenting the npm-search index with additional information from github, I'll throw some "random" ideas here (I might be wrong in some aspects):

- use authenticated REST calls in order to increase the rating limit from 60

[2018-04-25 09:49] vvo commented on #187
Thanks for the nice architecture thoughts!

I did try out the GitHub GraphQL API, a bit strange at the beginning (I had to understand the actual GraphQL language), but afterwards feels super nice.

Example: https://github.com/vvo/zorgs/blob/master/src/zorgs/src/queries/repositoriesWithCommits.js

[2018-04-25 11:30] manekinekko commented on #187
Very nice. In the same fashion, we could get the number of stars and issues like so:
[code]
Which would give us:
[code]

[2018-04-25 11:35] Haroenv commented on #187
Seems useful! Would be nice to try out if we can get this merged, can be added in `github.js` or another file. Ideally we would be able to get the issues, forks and stargazers of multiple (100/200) repositories at the same time

[2018-04-28 11:07] Haroenv commented on #70
![54b0d6aa-675e-4134-9fbb-51a1d67ca5a3](https://user-images.githubusercontent.com/6270048/39395900-1137aaa2-4ae5-11e8-8043-0e725fa942ef.png)

It’s different now, but still second.

[2018-05-09 07:27] Haroenv opened #199 "Add replicas for "sort by""
requested for Yeoman in https://github.com/yeoman/yeoman.github.io/issues/770, but probably useful in all cases

[2018-06-04 09:25] vvo opened #217 "Idea: drop `.js` endings to provide better relevancy"
When searching for "places" we do not find places.js while it's way more popular than `places`
![image](https://user-images.githubusercontent.com/123822/40909526-0fa21d54-67ea-11e8-944e-82ee5f7fceac.png)

![image](https://user-images.githubusercontent.com/123822/40909530-161c53e8-67ea-11e8-9cd5-c62e0dc650e2.png)

[2018-06-04 11:48] Haroenv commented on #217
Should put it in alternariveNames indeed, there’s a few packages that are more popular with the .js ending

[2018-06-27 10:55] MartinKolarik opened #233 "Index settings disappeared after full bootstrap"
For some reason when searching for "monaco-editor" the first result is "monaco-editor-x" and "monaco-editor" isn't even in the top ten.

![image](https://user-images.githubusercontent.com/6192491/41969916-4a153ecc-7a09-11e8-8b82-aaeb63c563ed.png)

![image](https://user-images.githubusercontent.com/6192491/41969932-555b11f8-7a09-11e8-9d4c-fdfb59533490.png)

[2018-06-27 11:48] Haroenv commented on #233
hmm, seems odd, thanks for reporting!

[2018-06-27 11:52] Haroenv commented on #233
Seems like the settings have been lost somehow, this is very odd @vvo

[2018-07-04 22:17] Akryum opened #235 "registrySubsetRules not working"
It seems that the [framework-specific rules](https://github.com/algolia/npm-search/blob/master/src/formatPkg.js#L207) are no longer working:

[Babel Repl](https://screenshots.firefox.com/DMStzwhRJR0Dp3xz/babeljs.io)

[Vue CLI UI](https://screenshots.firefox.com/KrmLSp4iwUxa3Stx/localhost)

[2018-07-05 07:08] Haroenv commented on #235
Oh no, that’s definitely wrong

[2018-07-05 07:20] Haroenv commented on #235
I temporarily fixed it by setting the settings again, but seems like after bootstrap no settings are set. I suspect #233 has the same cause, so I'll close this one.

It might have something to do with how settings are set in the index, but not really sure for now.

Duplicate of #233

[2018-07-05 07:20] #235 closed

[2018-07-20 05:17] Akryum commented on #69
This is even more visible for `vue-i18n` which appears on the 5th results page.

https://github.com/vuejs/vue-cli/issues/1897

[2018-07-20 05:18] Akryum commented on #233
Maybe related:
#69
https://github.com/vuejs/vue-cli/issues/1897

[2018-07-20 05:27] Akryum commented on #233
Looks like https://github.com/algolia/npm-search/issues/235 happened again! 😸
cc @Haroenv

[2018-07-20 07:10] Haroenv commented on #233
Ugh! Thanks for notifying me! It didn’t happen last week but it did now. Adding them back ASAP

[2018-07-20 07:34] Haroenv commented on #69
This is actually already fixed since the new query rules. Reason it wasn’t working for a bit was because of loss of settings

[2018-07-20 07:34] #69 closed

[2018-07-20 07:43] vvo commented on #233
This issue can be dig by looking at the npm-search index inside Algolia more closely with the search api team

[2018-07-20 09:04] Haroenv commented on #233
Problem should have happened around midnight CEST yesterday

[2018-10-02 20:34] MartinKolarik opened #281 "Some properties have wrong (zero) values"
Affects only some packages (I know about react and lodash) - `humanDependents` and `jsDelivrHits` are both zero.

[2018-10-03 09:16] Haroenv commented on #281
humanDependents and dependents is actually broken probably because npm was down during the indexing and then we go back to the fallback value, which is 0. React still seems to have a good relevance because of downloads, so it doesn't seem to be a _huge_ issue for now.

I'd still of course like to see this fixed! :)

[2019-01-17 14:56] wardpeet opened #307 "Data discrepancy between algolia & replicate.npmjs.com/registry"
We're using this package on https://www.gatsbyjs.org/plugins/ to show information from NPM. It seems like the data is not 100% correct. When we manually crawl the registry endpoint we get the correct data but through algolia we don't.

On this page https://www.gatsbyjs.org/packages/gatsby-source-sanity/?=sanity we display the readme string. If we crawl the registry https://replicate.npmjs.com/regi

[2019-01-17 15:04] Haroenv commented on #307
I think this is because the update has been done in the last 24h, the index gets completely updated weekly; and during that time it goes alphabetically, but it will get behind on the updates done during that period. It's currently at 97% replication (±1.5h to go); all updates that have been missed due to the replication will be caught up after that.

[2019-01-17 15:12] wardpeet commented on #307
Thanks for the super fast answer. Is there a status screen or something we are able to check this progress?

[2019-01-17 19:48] Haroenv commented on #307
Currently not public, but it should be made

[2019-01-18 09:53] wardpeet commented on #307
Sweet, seems like we get correct data now. We'll need to recreate the site.

[2019-01-18 09:53] #307 closed

[2019-01-23 09:09] Haroenv commented on #233
This hasn't happened in a really long time, so I think this fixed itself.

[2019-01-23 09:09] #233 closed

[2019-01-23 09:10] Haroenv commented on #70
This was fixed in #195

[2019-01-23 09:10] #70 closed

[2019-01-23 09:11] #55 closed

[2019-01-23 09:11] #79 closed

[2019-01-23 09:13] Haroenv commented on #51
fixed in #125

[2019-01-23 09:13] #51 closed

[2019-01-23 09:14] Haroenv commented on #78
doesn't seem like important enough. Can be reopened if interest is shown

[2019-01-23 09:14] #78 closed

[2019-05-26 12:42] jimaek commented on #72
Is this being worked on?

[2019-05-27 06:14] Haroenv commented on #72
Feel free to work on this @jimaek

[2019-05-29 20:30] rdela commented on #72
Yes, exactly what Haroen said, feel free to work on this. I have not touched it since comments above from Dec. 2017 but am willing to try to help anyone make progress if they want to attempt to bring it up to date. That said, my time is very limited currently so I may not be of much assistance.

The [feat/nsp branch](https://github.com/rdela/npm-search/tree/feat/nsp) Haroen created is still availa

[2019-05-29 20:42] jimaek commented on #72
Ok, we will check it out since we want to use this at jsDelivr

[2019-07-17 14:22] renovate[bot] opened #360 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Preset name not found within published preset config (:prConcurrentLimit4). Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2019-07-26 13:48] arnaudlewis opened #365 "Readme not referenced"
We have an issue regarding one of our plugin where the readme is not correctly referenced in the Gatsby documentation. Could you provide some help to fix it?
Here is the plugin: https://www.gatsbyjs.org/packages/gatsby-source-prismic-graphql/

thanks.

[2019-07-26 14:01] Haroenv commented on #365
Hi Arnaud, I'm aware of this issue, but it's in fact an npm issue where the readme isn't listed in the registry. See https://github.com/gatsbyjs/gatsby/issues/15900 for example.

http://registry.npmjs.org/gatsby-source-prismic-graphql/

I'm not aware why, but I'd advice contacting npm

[2019-08-03 16:47] bodinsamuel opened #372 "Performance optimisation"
## `db.allDocs`

This is probably the slowest operation for the moment and the good news it is possible to improve. The payload is big and the API respond almost instantly, it's mostly Idle CPU and a big parsing time at the end.

If we wrap the call into an in memory store (either in the same thread or in a fork) we could always fetch in the background a few thousand rows that way the next `loop()

[2019-08-03 22:12] bodinsamuel commented on #372
`db.allDocs` followup.

Tried to implement a basic prefetch strategy, in the same process, it seems to improve perf x2. I can't even prefetch fast enough. This is good news 💪

[2019-08-04 12:07] Haroenv commented on #372
I think typescript jumps so much because it depends which kind of package it is how many requests it does. If included it doesn’t do requests, otherwise it checks @types via npm, and finally it uses unpkg if the default files are maybe d.ts. As said, we can see if jsdelivr or unpkg can give us all the files and if that’s faster

[2019-08-05 14:20] bodinsamuel opened #378 "JSON parse error"
Seems some update are not parsable. we should probably try/catch those.

[code]

[2019-08-05 14:53] Haroenv commented on #378
Those errors would be better if we could somehow get _some_ information there e.g. the string itself, so we can know how to fix it

[2019-08-06 13:23] bodinsamuel opened #382 "Script is not resilient to "db crash""
Aug 06 13:07:43 npm-search app/worker.1: [unknown_error: Database encountered an unknown error] {
Aug 06 13:07:43 npm-search app/worker.1:   status: 503,
Aug 06 13:07:43 npm-search app/worker.1:   name: 'unknown_error',
Aug 06 13:07:43 npm-search app/worker.1:   message: 'Database encountered an unknown error',
Aug 06 13:07:43 npm-search app/worker.1:   error: true,
Aug 06 13:07:43 npm-search app/

[2019-08-06 14:10] Haroenv commented on #382
This is something I'm aware of, and don't really have a good solution for in mind. instead of crashing and relying on Heroku to be slow enough, we could back off for e.g. 1 minute & back off more exponentially? I didn't add any code since it seemed to be rare that we didn't wait long enough when crashing

[2019-08-06 14:26] bodinsamuel commented on #382
We need to check the error handling with PouchDB, a back off would be good enough I believe as it seems to happen very rarely.

[2019-08-06 14:35] Haroenv commented on #382
there's a "retry" option, but we should see if it isn't too aggressive https://pouchdb.com/api.html#options-4

[2019-08-06 14:36] Haroenv commented on #199
No good sort orders found, feel free to comment if some orders might make sense for you

[2019-08-06 14:36] #199 closed

[2019-08-06 14:38] Haroenv commented on #124
same as #382, but that issue has more actionable comments

[2019-08-06 14:38] #124 closed

[2019-08-06 18:23] #217 closed

[2019-08-11 19:36] bodinsamuel opened #401 "Use list of @types instead of doing one query per package"
There is a lot of way to do that, but one simple is this one:

Microsoft create a .json with all packages on every deploy
https://github.com/microsoft/types-publisher#create-a-search-index
https://typespublisher.blob.core.windows.net/typespublisher/data/search-index-min.json

[2019-08-12 07:39] Haroenv commented on #401
This looks interesting! @orta, do is this URL  static and safe to use for this?

[2019-08-12 15:48] sandersn commented on #401
(Came here after @orta asked me) Yes, the URL is static and [TypeSearch](https://microsoft.github.io/TypeSearch/) already depends on this index, so types-publisher will continue to publish it.

Please do use it; I'd rather have people discover types integrated into the rest of the ecosystem instead of going to a separate site like TypeSearch.

[2019-08-12 20:03] bodinsamuel commented on #382
Should not happen again

[2019-08-12 20:03] #382 closed

[2019-08-13 09:03] Haroenv opened #408 ""terser" is misidentified as TS"
https://yarn.pm/terser (shows as included), but I can't see why that would evaluate as that, since it doesn't have a .d.ts

[2019-08-14 22:22] bodinsamuel commented on #408
it does have a `types` in package.json
https://cdn.jsdelivr.net/npm/terser/package.json

[2019-08-15 21:14] Haroenv commented on #408
I didn’t check the tools folder. False alarm!

[2019-08-15 21:14] #408 closed

[2019-08-19 13:17] bodinsamuel commented on #378
No longer happening (at least not this particular error)

[2019-08-19 13:17] #378 closed

[2019-11-04 13:41] bodinsamuel commented on #360
we are aware, came from the change of renovate config. @raphi is on it

[2019-11-05 14:30] #360 closed

[2020-02-11 09:42] sindresorhus opened #511 "Detect packages with TypeScript but without a `types` field in package.json"
Would be nice if the search would correctly detect a package as TypeScript in the case where a package has a `index.d.ts` file in root, but not a `types` field in `package.json`. That's a common occurrence and it's allowed by TypeScript to omit the `types` field if the definition file uses the name `index.d.ts`.

Context: https://github.com/algolia/npm-search/pull/407#issuecomment-584338683

[2020-02-11 12:32] Haroenv commented on #511
Do you have an example package that doesn’t get detected yet? That’ll make implementing this easier :)

[2020-02-16 11:12] sindresorhus commented on #511
It was https://github.com/sindresorhus/type-fest, but now we've added a types field to work around it: https://github.com/sindresorhus/type-fest/commit/1fe98c2854ea40f5a5d07ec965c6164de11d23fb

[2020-02-17 09:44] Haroenv commented on #511
I think the code might have been assuming a `main` field, which is why it doesn't work yet

[2020-04-16 13:09] SaraVieira opened #534 "Ghost versions in Prismjs"
👋

We use this at CodeSandbox to get the available versions of packages and weirdly enough prismjs is returning two ghost version

[code]

These versions don't seem to exist in the npm registry http://registry.npmjs.org/prismjs or in npm itself

Some service may be returning weird versions

Relevant codesandbox issue: https://github.com/codesandbox/codesandbox-client/issues/3876

Thank you

[2020-04-16 13:25] Haroenv commented on #534
I've looked into it, and the version indeed doesn't exist in the `versions` key on https://registry.npmjs.org/prismjs, but it _does_ exist in the `time` key.

What we'll need to change in the `versions` calculation is checking if a key in `time` is available in `versions`

[code]

[2020-04-16 13:28] Haroenv commented on #534
temporarily removed those two versions from the production index now :)

[2020-04-16 14:20] #534 closed

[2020-10-01 13:43] christoffercarlsson opened #556 "Packages that have been unpublished from NPM are still showing up on the package search on https://yarnpkg.com"
Hi,

I recently started publishing new versions of my NPM packages to the GitHub Package Registry.

After I made the move I requested that all packages be unpublished from the NPM registry to avoid confusion.

However, I noticed that all of the old packages are still showing up on the https://yarnpkg.com website when I search for them. Performing the same search on the https://npmjs.com website gi

[2020-10-01 13:52] Haroenv commented on #556
Hmm, in general delete operations are followed because of this code:

https://github.com/algolia/npm-search/blob/8e5fb1dd7531d342207b85e3cd37ae30d9f72873/src/watch.js#L188-L193

I guess it's possible some operations either aren't sent by npm or missed by our watcher. Do you have packages that need to be deleted explicitly? You can email me or write it here

[2020-10-01 15:51] christoffercarlsson commented on #556
Thank you for the quick reply!

Yes, all packages listed under the `@christoffercarlsson` scope would need to be deleted in order for the search results at https://yarnpkg.com to match those at https://npmjs.com.

[2020-10-01 16:06] Haroenv commented on #556
As a hotfix I've removed your packages from the index, but I'm not sure yet why the packages weren't deleted automatically

[2020-10-01 16:22] christoffercarlsson commented on #556
Thank you for your help! Much appreciated 🙂

[2020-10-01 16:22] #556 closed

[2020-10-16 12:06] remy opened #557 ""ERROR: Optional filters inside Rules are not enabled on this application""
I'm running a local version and I'm stuck on this error (when running `yarn start`):

[code]

I'm wondering if I'm missing some setup in Algolia perhaps?

(this is a new clone of the repo with latest node running against a "hacker" account in Algolia)

[2020-10-19 09:19] Haroenv commented on #557
Ah, this repo requires an enterprise account unfortunately because of some of the features we're using. What you can do is comment out these lines:

https://github.com/algolia/npm-search/blob/394cb8c3844f47b856296a922829839999090bf3/src/config.js#L96-L108

What is the use case you're looking into this repo? We already have an index which is populated by this process that you might be able to use i

[2020-10-19 18:38] remy commented on #557
It's quite literally the client's project I'm working on needs to be able to search npm package names. We built a database with the 1.4 million package names, but it was a bit useless as the search was a simplistic `like` and it brought back a lot of unwanted results for simple searches like `"angular"`.

Is this a public resource - and if so, I'd love to know a little more about it, it's most lik

[2020-10-19 19:45] Haroenv commented on #557
You can email me (haroen@algolia.com) and I'll create credentials for your client, as long as there's a mention of "powered by Algolia" in the page, which normally shouldn't be an issue

[2020-11-04 16:53] #557 closed

[2021-02-11 13:24] LucianBuzzo opened #565 "Packages that have been set to private continue to appear on yarnpkg"
It appears that packages that have their access changed from public to private remain listed on yarnpkg.
Looking through the code, as far as I can tell, there isn't a mechanism for detecting changes in access level, which would mean the private package will remain indexed indefinitely.

[2021-02-11 14:48] Haroenv commented on #565
Unfortunately that might be on npm's side, we are listening to changes in the registry, and visibility change doesn't seem to trigger a change event.

I'd love to have this handled automatically, possibly there's another event we can listen to? Feel free to reach out if you want to contribute

[2021-03-08 09:02] LekoArts opened #586 "Unpublished package: Correct way to remove it from index?"
Hi folks 👋

Over at our repository we got an issue https://github.com/gatsbyjs/gatsby/issues/30058 that points to https://github.com/Burnsy/gatsby-plugin-ackee-tracker/issues/69. Reading https://github.com/algolia/npm-search/issues/556 I understand that normally the deletion on npm should account for that.

Is it still in the index because yarnpkg has it? https://yarnpkg.com/?q=gatsby-plugin-ackee

[2021-03-08 09:35] Haroenv commented on #586
I've deleted that package now manually, although it should have been done automatically following this:

https://github.com/algolia/npm-search/blob/b40c6b21aa7d354c7e0fa938651916e52d132436/src/watch.js#L187-L195

I haven't had time to debug this yet, but I saw that not every package on npm actually gets deleted. In the past we did a full reindex every week or two, but that became much too slow (th

[2021-03-08 09:50] LekoArts commented on #586
Thanks for the _very_ quick answer, much appreciated!

While I'd love to dig into this and help resolve it, we're quite busy with our v3 release from last week and it's not a high priority at all for us. When we revisit that plugins page of our website it might come up again, but until then feel free to close this issue or keep it open (& not prioritized).

[2021-07-01 14:34] MartinKolarik opened #634 "Reindex to add moduleTypes for all packages"
There are packages that didn't have a new release since the field `moduleTypes` was added and therefore don't have that field in the index. We talked with @Haroenv about doing a full reindex to fix this but there were some issues with the bootstrap process back then.

I got back to this recently and noticed the issue is still there so it'd be great if the full reindex could be done if/when it work

[2021-07-01 18:27] Haroenv commented on #634
cc @bodinsamuel, do you see some method to move the reindex that you're busy doing to the live one to solve this issue?

[2021-07-01 20:23] bodinsamuel commented on #634
Still asserting that full reindex is okay, could have done in the correct app from the start that would have saved us 10days 💀
After the TS migration, I think optimisation will be easier but for now I'm not too confident in touching the codebase.

[2021-07-05 09:34] bodinsamuel commented on #401
Done in #639

[2021-07-05 09:34] #401 closed

[2021-07-05 16:40] #511 closed

[2021-07-07 07:51] bodinsamuel commented on #372
Update 2021:

Not much has changed `db.list` is still slow (100ms to 2s) but the main culprit is having every versions inside the document.
It tops up the ram pretty quick, we currently can only bootstrap 10 by 10 max.

I have tried to do `db.list({ include_docs: false })` but requires 2 additional calls to complete the document.
- First for the `latest` version that contains most the info
- Secon

[2021-07-12 09:00] bodinsamuel opened #657 "Ignore some packages ?"
Just a proposal, I'm not even convinced this is a good idea.
The only thing I want to do is gaining some time in the indexing, and the packages that are the less relevant are usually the slowest because there is no cache anywhere.
We could:
- exclude them entirely
- add them without additional data, to the index with a flag
- process them like every other with a flag
- do nothing

# Security holde

[2021-07-12 09:10] Haroenv commented on #657
For packages that are security held, we can indeed probably bail out on most processing, and stop after formatPkg, possibly with a special flag  in searchInternal to mention that we stopped processing.

For older packages, I wonder if we could do a cache ourselves (aka the bootstrap index)? However this means downloads for example don't get updated, which I don't think is a good idea 🤔

[2021-07-12 17:38] bodinsamuel opened #660 "Handle sigint sigterm"
We should support graceful shutdown

[2021-07-12 17:43] bodinsamuel commented on #72
@jimaek do you still need it?
I see that you have a widget in jsdelivr now, so probably not a strong push anymore.
Could be interesting to have it in the index directly though, if any api exists

[2021-07-12 17:46] jimaek commented on #72
In our case Snyk sent a PR directly https://github.com/jsdelivr/www.jsdelivr.com/pull/330
I am certain they would be glad for you to integrate their data into your index. So maybe contact Brian to make sure you don't overload their widget :)

[2021-07-13 08:09] Haroenv commented on #660
Instead of process.exit starting back from the start you mean? Not relying on the process restarting itself?

[2021-07-13 09:06] bodinsamuel commented on #660
it's mostly for gcp, when a server is terminating you have a grace period to shutdown your process.
if you don't, after 30s, the process is killed and you might have been in the middle of processing something that could corrupt your data.
In our scenario we could have processed a package but not saved it, not critical.

It also helps terminating the process faster than waiting the full grace perio

[2021-07-13 11:54] bodinsamuel opened #662 "Refresh packages based on expiresAt field"
ExpiresAt field is a facet filter with a fixed date (yyyy-m-d)
We should query it everyday to see which packages has expired and reprocess them to keep information up to date.

Because process could lag a lot, it needs to check every lte current day

[2021-07-15 13:46] bodinsamuel commented on #634
It's done and we are working on improving packages refresh even without npm updates 👌🏻

[2021-07-15 13:46] #634 closed

[2021-07-15 13:47] bodinsamuel commented on #372
Everything there has been done.
We have moved to GCP successfully which provided most of the perf improvement

[2021-07-15 13:47] #372 closed

[2021-08-27 10:23] renovate opened #688 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/algolia/npm-search).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Reposito

[2021-09-15 09:52] bodinsamuel opened #717 "Do not assume sequence is monotonic"
https://github.blog/changelog/2021-09-08-npm-couchdb-upgrade-will-reset-sequence-number/

[2021-09-17 08:58] bodinsamuel commented on #717
yes sorry about that, we are still keeping up with updates that stacked during the downtime.
You can track the progress on our public dashboard: [here](https://p.datadoghq.com/sb/2b51baa8-c54a-11eb-a5a4-da7ad0900002-4973ed88f5be0d93c350fcb0ea2e7f0c?from_ts=1631264201097&to_ts=1631869001097&live=true) or [here](https://search-status.yarnpkg.com/)

[2021-09-22 06:04] cpetzel opened #726 "New NPM package not found on yarnpkg search"
I published 2 new packages a few days ago that are currently live and searchable on npmjs, but are not searchable/visible on yarnpkg search.

https://www.npmjs.com/package/flipper-plugin-xstate

https://classic.yarnpkg.com/en/packages?q=flipper-plugin-xstate

Is there something I am missing in the publication process?

[2021-09-22 12:06] bodinsamuel commented on #726
Hello,
sorry about that, it's expected for the moment because of NPM database reset.
We expect to be fully up to date in 6-7 days (yes, that's long unfortunately)
Please find more details here #717

[2021-09-22 12:06] #726 closed

[2021-10-06 08:29] Haroenv commented on #726
This reindex has finally been finished now, sorry for the delay!

[2021-11-02 14:52] MartinKolarik opened #778 "Valid package missing from the index"
[validated-changeset](https://www.npmjs.com/package/validated-changeset) seems to be [completely missing from the index](https://www.jsdelivr.com/package/npm/validated-changeset) (see failed requests) despite existing for quite a while and not being deprecated 🤔

[2021-11-02 16:55] bodinsamuel commented on #778
NB: I did not know the Algolia was in the critical path of jsdelivr, maybe we should produce a different index without 3rd party enrichment to avoid disruption.

[2021-11-02 19:15] MartinKolarik commented on #778
It doesn't affect our CDN but affects the website since that relies mostly on the data from the index to render the package pages (I think similarly to https://yarnpkg.com/). A retry strategy would definitely be good.

So it was something else than npm that failed?

[2021-11-03 09:35] bodinsamuel commented on #778
In that case no, NPM was the issue. But 3rd party is what make the indexing slow, you can have many hours of lag because of this. I don't know if it's acceptable for you, considering that without 3rd party the page would probably empty.

We can eventually think of "on-demand" endpoint, that you can reach to request a package that seems to 404. But I guess you got a lot of 404 that would also spam

[2021-11-03 13:52] MartinKolarik commented on #778
Right now, we're only using the following attributes, which I think all come from npm?

[code]

But that's going to change in a redesign that we're working on right now as we also want to show part of READMEs.

We also query our own API which could be used to prevent 404 calls if there was an on-demand endpoint in the future, but the thing is, most people get to the package pages from the search r

[2021-11-03 14:33] Haroenv commented on #778
It's not ideal, but a temporary workaround would be in your frontend to fall back to https://registry.npmjs.com/validated-changeset, as that's a more "pure" source of truth

[2021-11-03 15:24] MartinKolarik commented on #778
Indeed for direct access to that page, we could.

[2021-11-04 14:26] bodinsamuel commented on #778
Made a quick and dirty retry strategy @MartinKolarik

[2022-04-10 08:59] jayantur13 opened #928 "[#2] New npm package not found on yarnpkg search"
I published a package,its been more than a day now, the package page is visible for npm https://www.npmjs.com/package/data-bharat

But for yarnpkg, the Algolia search says "no package was found" and the link https://yarnpkg.com/package/data-bharat says it does not exist yet.

For info - Everything was fine when I published a package in past (in Jan/Feb)

Please, help.

Edit - Resolved itself after

[2022-04-14 08:52] #928 closed

[2022-04-14 16:29] MartinKolarik opened #930 "> 5 days delay in indexing"
We got a report today about a package missing from the search results (https://github.com/jsdelivr/jsdelivr/issues/18387), and I see the first release was five days ago. There was also a similar issue recently (#928). Is there anything we could do to reduce the delay?

[2022-04-14 18:53] #717 closed

[2022-04-14 18:55] bodinsamuel commented on #930
yep indeed.
It seems NPM bumped their sequence again and we are 60K updates behind.
Not so much we can do since we need to process update sequentially.
The same issue all over again :'(

We had lost metrics monitoring since a few weeks (and had no time to look up), I have added a more annoying alerting so that I don't skip those.

---

For JsDelivr we should really sync and find not an alternative

[2022-04-14 19:43] MartinKolarik commented on #930
Do you know what's slowing down the indexing most? I'm wondering how the fallback would work because if you visit a page like https://www.jsdelivr.com/package/npm/quantdom it's easy, but to get there, you'd usually search at https://www.jsdelivr.com/?query=quantdom and if that returns some results, there's no way for us to know we need to fallback.

At the same time, we use jsDelivrHits for sortin

[2022-04-22 15:39] MartinKolarik opened #941 "Improve ranking"
After including package downloads within the search results, we noticed a very common problem with relevance. I believe it's caused by ignoring "js" and probably typo tolerance, and I wonder if there's a way to improve this. A few examples:

1. https://www-jsdelivr-com-pr-400.onrender.com/?query=vue
First match "vue" (correct), then "vue.js" (garbage), then "vuejs" (garbage, even marked as depreca

[2022-04-25 07:46] Haroenv commented on #941
Technically I'm not sure how this could be done, but we could indeed have a certain download number threshold before adding alternative names maybe? That way at least those three examples would not show up anymore, it bothered me too.

[2022-04-25 11:26] bodinsamuel commented on #941
just ordering by download should help no?

[2022-04-25 11:41] Haroenv commented on #941
The problem is that custom ranking comes after word relevance, unless you mean resorting in the frontend @bodinsamuel

[2022-04-25 11:45] MartinKolarik commented on #941
Downloads are already used as part of the ranking but as I understand they have lower priority than the match on project name, so they don't help here.

Something I'm not 100% sure about though - I would expect that "ignored words" apply only to whole words, not parts of them so in "vuejs" the "js" suffix would not be ignored. But based on the search results, it either is ignored even when it's a

[2022-04-25 11:59] Haroenv commented on #941
The js is not an ignored word, but it's listed as an alternativeName, which is listed after the official name

[2022-04-25 12:09] MartinKolarik commented on #941
Oh I see, I previously looked only at the index config but there's a whole bunch of logic that adds alternative names in the code. Than my previous suggestion stands - do this only if the package seems relevant based on other metadata.

[2022-04-25 12:17] Haroenv commented on #941
deprecated should already show up lower according to ranking, but if you spell it correctly, it should still be the first result, as sometimes you would be looking for that.

I think we can add a certain popularity threshold before packages get alternative names. Will look into a PR

[2022-04-25 12:30] MartinKolarik commented on #941
I agree you should get deprecated packages when spelled correctly but not sure about alternative names - there it's a similar problem that if the name is similar enough, deprecation has too low priority to push the result down. My idea was to use multiple attributes for this because downloads may not always be enough, e.g. add it only if all:

1. Is not deprecated.
2. Has 1k npm downloads or 10k j

[2022-04-25 13:29] Haroenv commented on #930
The index is back up to date now, thanks for standing by!

[2022-04-25 13:29] #930 closed

[2022-05-13 09:59] MartinKolarik commented on #657
I was just about to file an issue for the security holding packages since it's also related to #941. Those don't have any extra flags (compared to e.g. deprecated) so they don't get any search penalization. I would say that if a package points to https://github.com/npm/security-holder/, it should get a flag and be pushed down in the search results.

[2022-05-13 10:03] Haroenv commented on #657
good call @MartinKolarik, it can be marked as `deprecated: "held by security"` so that it has the same penalty as a deprecated package. Maybe it can also have the `alternativeNames` not calculated so you're not likely to receive it. Would you be willing to make a PR?

[2022-05-13 10:08] MartinKolarik commented on #657
@Haroenv sure. With the alternative names condition we're getting to the #951 territory so I can add the other conditions too (e.g. downloads) and make a PR for overall relevance improvement.

[2022-05-13 11:19] bodinsamuel commented on #657
A dedicated boolean would be great ☺️

[2022-05-13 11:26] MartinKolarik commented on #657
So a separate boolean or `deprecated` with explanation in `deprecatedReason` as @Haroenv suggested? Boolean seems cleaner but we'll have to add it to index config too then.

[2022-05-13 12:08] MartinKolarik opened #959 "Outdated package normalization"
Looking into #657, I found npm now allows the `repository` property to be a string:

[code]

The first case (not sure about others right now) isn't currently handled correctly:

[code]

Npm's tool [normalize-package-data](https://github.com/npm/normalize-package-data/) normalizes this to the object format in the latest version. As it turns out, however, `nice-package`, which is used in this projec

[2022-05-13 13:00] Haroenv commented on #959
Great catch, I wasn't aware that the normalisation has changed

[2022-05-13 13:00] Haroenv commented on #657
either is fine really, dedicated key makes sense indeed. Maybe in _searchMetadata

[2022-06-13 11:45] MartinKolarik commented on #941
Any update on the reindex progress? Are we able to test the new attributes now?

[2022-06-13 12:56] bodinsamuel commented on #941
yup sorry with all the holidays I did not had time to look into it.
What we did in the past is to pop a new instance that will create a new index and once it's ready swap the index.

I'll try to setup that today or tomorrow, full indexing takes more than a week.

[2022-06-20 15:02] bodinsamuel commented on #941
Yes it's currently running ☺️

[2022-06-21 09:24] bodinsamuel commented on #941
NB: you can test what you want using the tmp index named `npm-search-bootstrap-6` it will be renamed `npm-search-6` at some point. And then will replace the main index.

[2022-06-21 13:01] MartinKolarik commented on #941
The index doesn't use the newly added field yet because we wanted to test it first after all packages are updated (https://github.com/algolia/npm-search/commit/0e5194d3b9131a46e58e88d060e6f3c127f28f65) without affecting the main index. Considering the bootstrap runs in a separate index anyway, what would be the best course of action? I suppose we could update the config right away?

[2022-06-21 13:16] bodinsamuel commented on #941
ah true, forgot about that. Since we did not merge, all manual changes will be erased after some time by the script so not good. We could merge the PR in master and do not deploy the main process

[2022-06-22 17:46] bk2204 opened #993 "Gracefully handle 429 responses"
Hey,

I'm one of the engineers at GitHub responsible for the archive and raw file endpoints.  We've noticed that this tool is sometimes used to download large numbers of raw files, most of which are probably things like changelogs, at a high rate of speed.

We don't typically permit that kind of rapid, automated access to those endpoints, so usually those users end up getting served large numbers

[2022-06-23 08:09] Haroenv commented on #993
Is there a different avenue that does allow us to access multiple files at once, so we'd go from multiple files per package to only one? https://github.com/algolia/npm-search/blob/master/src/changelog.ts#L137 Would that slow down the rate enough to be accessible @bk2204 ?

thanks for contacting us in advance!

[2022-06-23 21:20] bk2204 commented on #993
You can use the API to get access to those files, but you're also going to be limited to 5000 requests per hour (if authenticated), just like you would be to the raw file endpoints.  If you needed access to an entire revision, you could use shallow clone, partial clone, or a tarball, but I don't think the demand is sufficient in your case to request an entire full revision, since you probably just

[2022-06-23 21:41] MartinKolarik commented on #993
Since we only need to list files in the root of the repo, it seems all the requests for different name variations could be replaced with a single call like this https://api.github.com/repos/algolia/npm-search/git/trees/HEAD, reducing the number of requests from 19 to 1 per repo. I'm not sure what's the regular rate of processed updates per hour though (@bodinsamuel I'm sure you have stats for this

[2022-07-03 17:40] MartinKolarik commented on #941
Awesome, it works really well! I tested all packages from my initial post here as well as those from comments in #951 and *all of them* return relevant results now.

[2022-07-28 12:57] MartinKolarik commented on #941
@bodinsamuel @Haroenv ping, can we get this live, please? 😄

[2022-07-28 13:00] bodinsamuel commented on #941
I'll merge 👌🏻

[2022-07-28 13:04] MartinKolarik commented on #941
Also not sure if the indexes were swapped yet.

[2022-07-28 13:23] bodinsamuel commented on #941
Applied on the main index 👍🏻

[2022-07-28 14:23] MartinKolarik commented on #941
Awesome! https://twitter.com/jsDelivr/status/1552660335219429377

[2022-07-28 14:23] #941 closed